*.pyc
*.pth
*.tar
*.sub
*.npy
*.jpg
*.png
*.zip
main.sh
checkpoints*
visualize/*
!visualize/*.py
log/*
config/*
models/spynet_models/*
dockers/*
test_script.sh
kitti_data/*
datasets/mnist/
datasets/svhn/
results/*
pretrained/*
